@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>
@DateTime.UtcNow

<pre>
User.Identity.Name:               @Context.User.Identity.Name
User.Identity.AuthenticationType: @Context.User.Identity.AuthenticationType
User.Identity.IsAuthenticated:    @Context.User.Identity.IsAuthenticated
</pre>

<p>Claims</p>
<table class="table">
    <thead>
    <tr>
        <td>Issuer</td>
        <td>Authentication Type</td>
        <td>Type</td>
        <td>Value</td>
    </tr>
    </thead>
    <tbody>

    @foreach (var claim in Context.User.Claims)
    {
        <tr>
            <td>@claim.Issuer</td>
            <td>@claim.Subject.AuthenticationType</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }


    </tbody>
</table>


